@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$font-family-base: "Poppins", sans-serif;
$primary: green;
$navbar-dark-color: peru;

@import "../node_modules/bootstrap/scss/bootstrap";

.nav-form-control {
  background-color: $primary;
  border-color: $light;
}
